body{
    display:flex;
    align-items: center;
    min-height: 18vh;
  
    background-color: rgb(95, 95, 216);
    color:rgb(41, 116, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.wrap{
    width:250px;
    background: #fff;
    border-radius: 7px;
    padding: 15px 25px 30px;
}
.wrap header{
    font-weight: 200;
    text-align: center;
    text-decoration: underline;
    color:rgb(25, 9, 94);
}
.wrap .search{
margin:15px 0 10px;
}
.search input{
height:30px;
width:auto;
outline:none;
font-size: 16px;
/* padding:0 25px; */
padding:0  30px;
border:1px solid #333;
border-radius: 2px;
}
/* icons */
.search :where(span){
    position: absolute;
  top:17%;
    color:blue;
    transform: translate(-50%);
}



.search input:valid ~span{
    display:block;
}
.wrap ul li{
    display: flex;
    list-style: none;
    margin-bottom: 6px;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #634de4;
    justify-content: space-between;
 
}
.wrapper .itext{
  font-size: 13px;
  color: #2125d8;
  margin: -3px 0 -10px;
}
.wrapper.active .itext{
  display: none;
}
.content li span{
    font-size: 15px;
    color:#090b50;
  }
   .synonyms .list{
    display: flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    
    
  }
   .synonyms span{
    cursor: pointer;
    word-wrap: break-word;
  text-decoration: underline;
    color:#090b50;
  }
.wrap ul{
    display:none;
    /* color:#4db4e4 */
}
.wrap.active ul{
    display:block;
}
